<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Read(One)</title>
</head>

<body>
    <div class="container">
        <div class="container">
            {% if messages %}
                {% for message in messages %}
                    <small class="text-success">{{ message }}</small>
                    {% endfor %}
            {% endif %}
        </div>
        <div class="container mb-5">
            <h1>TV Show {{ show.id }}</h1>
        </div>
        <div class="container mb-5">
            <h5>Title: {{ show.title }}</h5>
            <h5>Network: {{ show.network }} </h5>
            <h5>Release Date: {{ show.release_date }}</h5>
            <h5>Description: {{ show.description }}</h5>
        </div>
        <div class="container">
            <h5>Last Updated: {{ show.updated_at }}</h5>
        </div>
        <div class="container">
            <a href="/shows/{{ show.id }}/edit">Edit</a> | <a href="/shows/{{ show.id }}/destroy">Delete</a>
        </div>
        <div class="container mt-5">
            <a href="/shows">Go Back</a>
        </div>
    </div>
</body>

</html>