form, .info-container{
    margin: auto;
    width: 550px;
    background-color: beige;
    padding: 10px;
}
#name{
    margin-left: 55px;
    width: 200px;
}
#loc{
    margin-left: 35px;
    width: 200px;
}
#lang{
    width: 200px;
    margin-left: 3px;
}
#button{
    display: block;
}
textarea{
    width: 500px;
}