<!DOCTYPE html>
<html>
    <head>
        <title>Main Page</title>
        <meta charset="UTF-8">
        <style>
            .container{
                background-color: aliceblue;
                padding: 10px;
            }
            a{
                padding: 10px;
                background-color:green;
                color: white;
                text-decoration: none;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <h1>YOU CHOSE TO SNEAK TO THE DOOR</h1>
            <p>YOU WALKED QUIETLY, VERY CAREFULLY NOT TO WAKE UP THE SLEEPING DRAGON.
            </p>
            <p>YOU WALKED AND WALKED AND THEN SUDDENLY YOU STARTED HEARING NOTHING. JUST THE AIR FROM THE ROOM, 
                YOU WALKING, THE BREATH OF THE SLEEPING DRAGON SUDDENLY STOPS TOO, BUT YOU'RE HEARING THE GOLDS, 
                AND OTHER SHINY THINGS ON YOUR POUCH AS YOU TAKE YOUR STEPS. YOU LOOK UP AND SEE THE DRAGON AWAKE! 
                THOSE METAL THINGS WOKED THE DRAGON UP YOU GREEDY SON OF A B!!!
            </p>
            <p>
                THE DRAGON BREATHES FIRE ON YOU AND TURNED YOU INTO CRISPS.
            </p>
            <h1 style="color: red">YOU ARE DEAD</h1>
        </div>
    </body>
</html>