<!DOCTYPE html>
<html>
    <head>
        <title>Main Page</title>
        <meta charset="UTF-8">
        <style>
            .container{
                background-color: aliceblue;
                padding: 10px;
            }
            a{
                padding: 10px;
                background-color:green;
                color: white;
                text-decoration: none;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <h1>YOU CHOSE TO RUN TO THE DOOR!!!!</h1>
            <p>YOU RAN FOR YOUR LIFE AS FAST AS YOU CAN BUT EVERY STEP IS TOO LOUD THAT IT WAKES THE 
                DRAGON UP!
            </p>
            <p>YOU KEPT RUNNING BUT THE DRAGON FLEW AND CHASED YOU. YOU THOUGHT YOU'LL MAKE IT TO THE DOOR 
                BUT THE DRAGON BREATHES FIRE AT YOU AT YOU BURNED INTO CRISPS.
            </p>
            <h1 style="color: red">YOU ARE DEAD</h1>
        </div>
    </body>
</html>