<!DOCTYPE html>
<html>
    <head>
        <title>Main Page</title>
        <meta charset="UTF-8">
        <style>
            .container{
                background-color: aliceblue;
            }
            a{
                padding: 10px;
                background-color:green;
                color: white;
                text-decoration: none;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <h1>Main Page</h1>
            <h3>PLOT:</h3>
            <p>ONCE UPON A TIME THERE IS A PRINCESS WHO IS LOCKED UP IN A DUNGEON ON TOP OF THE HIGHEST TOWER<br>
            YOU AS THE PRINCE WILL SAVE THE PRINCESS AND LIVE HAPPILY EVER AFTER
            OR THE PRINCESS WILL DIE OF A HORROBLE DEATH</p>
            
            <p>YOU ARRIVED AT THE TOWER YOU GO INSIDE AND SEE TWO DOORS WITH SIGNS; THE FIRST DOOR SAYS
                <b>'FASTEST WAY TO THE TOP'</b>, THE SECOND SAYS <b>'SAFEST WAY TO THE TOP'</b>.
            </p>
            <h4>WHICH DOOR WILL YOU GO?</h4>
            <a href="/fast">FASTEST WAY TO THE TOP</a>
            <a href="/safe">SAFEST WAY TO THE TOP</a>
        </div>
    </body>
</html>