<!DOCTYPE html>
<html>
    <head>
        <title>Main Page</title>
        <meta charset="UTF-8">
        <style>
            .container{
                background-color: aliceblue;
            }
            a{
                padding: 10px;
                background-color:green;
                color: white;
                text-decoration: none;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <h1>YOU CHOSE THE MYSTERIOUS LIQUID!</h1>
            <p>AS SOON AS YOU REACHED FOR THE LIQUID YOU HEARD THE OTHER BOX CLOSED *clank!!* 
                AND THERE WAS NO WAY FOR YOU TO OPEN IT
            </p>

            <p>YOU TOOK THE STAIRS AND HEAD FOR THE NEXT LEVEL</p>

            <p>AS SOON AS YOU WALKED INSIDE THE ROOM YOU HEARD A LOUD BREATH, THEN A LOUD BREATH AGAIN. 
                YOU WANDERED IN THE ROOM AND WHEN YOU LOOKED UP YOU SAW THIS BIG DRAGON SLEEPING HOLY SH!@#@$$^TT!!!
            </p>

            <p>YOU PANICKED BUT SAW A DOOR ACROSS THE ROOM</p>
            <h4>WHAT WILL YOU DO?</h4>
            <a href="/shiny">RUN TO THE DOOR!!!!</a>
            <a href="/liquid">SNEAK TO THE DOOR</a>
        </div>
    </body>
</html>