<!DOCTYPE html>
<html>
    <head>
        <title>Main Page</title>
        <meta charset="UTF-8">
        <style>
            .container{
                background-color: aliceblue;
            }
            a{
                padding: 10px;
                background-color:green;
                color: white;
                text-decoration: none;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <h1>YOU CHOSE THE SAFEST WAY TO THE TOP</h1>
            <p>YOU ARRIVED AT THE NEXT LEVEL AND SEE TWO METAL BOXES; THE FIRST BOX SAYS <b>'GOLD, DIAMONDS, AND MANY SHINY THINGS'</b>, 
                THE OTHER BOX SAYS <b>'A MYSTERIOUS SHINY LIQUID'</b>.
            </p>
            <h4>WHICH BOX WILL YOU CHOOSE?</h4>
            <a href="/shiny">SHINY THINGS!!</a>
            <a href="/liquid">MYSTERIOUS LIQUID</a>
        </div>
    </body>
</html>